.venv
.~lock.o_allData.csv#
1697296.json
426142627.json
5641943591.json
garyvee.json
marco.harald.json
o_zulu01_garyvee.csv
o_zulu01_NOS.csv
varynermedia.json
vaynermedia.json
zulu01_garyvee_0.json
zulu01_garyvee_1.json
zulu01_garyvee_2.json
zulu01_garyvee_3.json
zulu01_garyvee_4.json
zulu01_garyvee_5.json
zulu01_garyvee_6.json
zulu01_garyvee_7.json
zulu01_garyvee_8.json
zulu01_garyvee_9.json
__pycache__/scraper.cpython-38.pyc
garyvee.json
garyvee.json
garyvee.json
