.venv
.~lock.o_allData.csv#
1697296.json
426142627.json
5641943591.json
garyvee.json
marco.harald.json
o_zulu01_garyvee.csv
o_zulu01_NOS.csv
varynermedia.json
vaynermedia.json
zulu01_garyvee_0.json
zulu01_garyvee_1.json
zulu01_garyvee_2.json
zulu01_garyvee_3.json
zulu01_garyvee_4.json
zulu01_garyvee_5.json
zulu01_garyvee_6.json
zulu01_garyvee_7.json
zulu01_garyvee_8.json
zulu01_garyvee_9.json
__pycache__/scraper.cpython-38.pyc
garyvee.json
garyvee.json
garyvee.json
garyvee.json
nasa.json
o_zulu02_nasa.csv
o_zulu02_garyvee.csv
zulu02_garyvee_0.json
zulu02_nasa_0.json
zulu02_garyvee_1.json
zulu02_nasa_1.json
garyvee.json
zulu02_acmilan_0.json
zulu02_acmilan_1.json
zulu02_globalbiorev_0.json
zulu02_globalbiorev_1.json
zulu02_italiaviva_0.json
zulu02_italiaviva_1.json
acmilan.json
globalbiorev.json
italiaviva.json
o_zulu02_acmilan.csv
o_zulu02_globalbiorev.csv
o_zulu02_italiaviva.csv
legaofficial.json
o_zulu02_antoniotajani.csv
o_zulu02_azione.it.csv
o_zulu02_fratelliditalia.csv
o_zulu02_legaofficial.csv
o_zulu02_partitodemocratico.csv
o_zulu02_piueuropa.csv
o_zulu02_radicali.it.csv
o_zulu02_reformer.ramin.csv
partitodemocratico.json
piueuropa.json
antoniotajani.json
azione.it.json
fratelliditalia.json
radicali.it.json
reformer.ramin.json
zulu02_antoniotajani_0.json
zulu02_antoniotajani_1.json
zulu02_azione.it_0.json
zulu02_azione.it_1.json
zulu02_fratelliditalia_0.json
zulu02_fratelliditalia_1.json
zulu02_legaofficial_0.json
zulu02_legaofficial_1.json
zulu02_partitodemocratico_0.json
zulu02_partitodemocratico_1.json
zulu02_piueuropa_0.json
zulu02_piueuropa_1.json
zulu02_radicali.it_0.json
zulu02_radicali.it_1.json
zulu02_reformer.ramin_0.json
zulu02_reformer.ramin_1.json
